html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0;
    font-family: Cinzel;
    overflow-x: hidden;
    
    
}

@import "banner";
@import "header";